# Ignore the virtual environment
venv/
*.db
# Ignore Python compiled files
__pycache__/
**/__pycache__/
*.pyc
*.pyo

# Ignore build artifacts
/dist
/build
*.spec
venv/Lib/site-packages/pip/_internal/__pycache__/build_env.cpython-312.pyc
